[access "refs/*"]
        owner = group android_device_motorola_bangkk
        label-Verified = -1..+1 group android_device_motorola_bangkk
        submit = group android_device_motorola_bangkk
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
